h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    background-color:darkgrey;
  }
  h3{
    font-style: oblique;
  }

  div {
      border: 2px solid black;
  }
  #nicholas{
      float: left;
      height:  240px;
  }
  .picdescr {
      height: 240px;
      padding: 10px;
      background-color:slategrey ;
  }
  .name{
      text-align: center;
  }
  #proudskills{
      position: relative;
      top: 10px;

  }