h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    background-color:darkgrey;
  }
  h3{
    font-style: oblique;
  }
  div{
      
  }